<!doctype html>
<html>
    <head>
        <title><%=title%></title>
        <meta name="viewport" content="width=734" />
        <meta content="sample" property="og:title" />
        <meta content="sample" property="og:site_name" />
        <meta content="website" property="og:type" />

        <link href="css/reset.css" rel="stylesheet">
        <style type="text/css">
          .wrapper {
            display:block;
            position:relative;
          }
        </style>
        <script src="js/lib/jquery/jquery-1.7.0.min.js"></script>
    </head>

    <body>
        <div class="wrapper">
            <h3><%=title%></h3>
            <a href="/login">login</a>
            <a href="/join">join</a>
        </div>
    </body>

    <script type="text/javascript">
        (function($) {
          $(document).ready(function() {
          });
        })(jQuery);
    </script>
</html>